USE [dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[GetEmployeeInf]    Script Date: 02.09.2025 14:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[GetEmployeeInf](@sortBy AS NVARCHAR (15) = '')
RETURNS TABLE
AS
RETURN (
	SELECT TOP (200) p.last_name + ' ' + p.first_name + ' ' + p.second_name AS 'ФИО', s.name AS 'Статус', 
	d.name AS 'Отдел', post.name AS 'Должность', p.date_employ AS 'ДатаПриема', p.date_uneploy AS 'ДатаУвольнения'  
	FROM dbo.persons p

	JOIN dbo.status s ON p.status = s.id
	JOIN dbo.deps d ON p.id_dep = d.id
	JOIN dbo.posts post ON p.id_post = post.id
	ORDER BY 
				CASE
					WHEN @sortBy = 'ФИО' THEN p.last_name + ' ' + p.first_name + ' ' + p.second_name
					WHEN @sortBy = 'Статус' THEN s.name
					WHEN @sortBy = 'Отдел' THEN d.name
					WHEN @sortBy = 'Должность' THEN post.name
					WHEN @sortBy = 'Дата приема' THEN CAST(p.date_employ AS NVARCHAR)
					WHEN @sortBy = 'Дата увольнения' THEN CAST(p.date_uneploy AS NVARCHAR)
			END
);
