USE [dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[GetEmployeeInfWithFilter]    Script Date: 02.09.2025 14:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GetEmployeeInfWithFilter]
(	
	@sortBy AS NVARCHAR (15) = '',
	@filterStatus AS NVARCHAR (255) = '',
	@filterDep AS NVARCHAR (255) = '',
	@filterPost AS NVARCHAR (255) = '',
	@filterLastName AS NVARCHAR (255) = ''
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT ФИО AS ФИО, Статус AS Статус, Отдел AS Отдел, Должность AS Должность, ДатаПриема AS ДатаПриема, ДатаУвольнения AS ДатаУвольнения
			FROM dbo.GetEmployeeInf(@sortBy)
			WHERE
			(
				(@filterStatus = '' OR Статус = @filterStatus)
			AND
				(@filterDep = '' OR Отдел = @filterDep)
			AND
				(@filterPost = '' OR Должность = @filterPost)
			AND
				(@filterLastName = '' OR ФИО = @filterLastName)
			)
)
