USE [dbo]
GO
/****** Object:  StoredProcedure [dbo].[OutputNotes]    Script Date: 02.09.2025 12:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[OutputNotes]
	@sortBy AS NVARCHAR (15) = '',
	@filterStatus AS NVARCHAR (255) = '',
	@filterDep AS NVARCHAR (255) = '',
	@filterPost AS NVARCHAR (255) = '',
	@filterLastName AS NVARCHAR (255) = '',
	@message AS NVARCHAR(255) = '' OUT
	
AS
BEGIN
	SET NOCOUNT ON;
	
		IF @filterStatus != '' OR @filterDep != '' OR @filterPost != '' OR @filterLastName != ''
		BEGIN
			SELECT *
			FROM dbo.GetEmployeeInfWithFilter(@sortBy,@filterStatus,@filterDep, @filterPost, @filterLastName)
		END
		ELSE IF @filterStatus = '' AND @filterDep = '' AND @filterPost = '' AND @filterLastName = ''
			BEGIN
				SELECT *
				FROM dbo.GetEmployeeInf(@sortBy)
		END
END